body{
    margin: 0;
    text-align: center;
   background-color: black;
}
    h1{
    background-color: gray;
    text-align: center;
    padding-top: 20px;
	padding-bottom: 20px;
    line-height: 1.1;
    margin: 0;
}
#stripe {
	height: 30px;
	text-align: center;
	color:gray;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}
#colorDisplay {
	font-size: 200%;
}
.selected {
	color: white;
	background: gray;
}
.circle {
	
  background: orange;
  border-radius: 50%;
  display: flex;
  width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border: 50%;
	transition: background 0.6s;
    
	
}

button {
	border: none;
    background:none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color:gray;
	letter-spacing: 1px;
	font-size: inherit;
	outline: none;
}
#message {
	display: inline-block;
	width: 20%;
}

button:hover {
	color: white;
	background: gray;
}


#container {
	margin: 20px auto;
	max-width: 600px;
}
.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
    color: gray;
}
#score {
    color: green;
    font-weight: bold;
}
#incorrect {
    color: red;
    font-weight: bold;
}
.scores {
    display: inline-block ;
    padding: 25px;
    
}


/*  Media queries */

@media (max-width: 414px) {
    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }
}

